<configuration>
    <property name="logPath" value="/Users/kennethosekhuemen/Projects/itex_store/itexstore_api/logs" />
    <property name="logPath" value="/app/logs" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/application-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>5</maxHistory> <!-- Keep 5 days of logs -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>